*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(206, 134, 118);
  color: black;
  text-align: center;
}

header h1 {
  font-size: 2em;
  line-height: 3em;
  vertical-align: middle;
  margin-bottom: 20px;
}

.card {
  width: 15rem;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-header {
  background-color: rgb(95, 219, 219);
}

.fas {
  margin-right: 5px;
}